/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .timeline-disk {
        @apply bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3;
    }
    .timeline-date {
        @apply text-gray-500 text-sm
    }
    .timeline-title {
        @apply text-gray-800 font-semibold text-xl mb-1.5
    }
}