---
import Title from "../components/Title.astro";
import HtmlTimeline from "../components/HtmlTimeline.astro";
import LoopTimeline from "../components/LoopTimeline.astro";
import ComponentTimeline from "../components/ComponentTimeline.astro";
import TailwindCustomTimeline from "../components/TailwindCustomTimeline.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="max-w-lg m-auto">
      <Title>Straight HTML</Title>
      <HtmlTimeline />
      <Title>Loop</Title>
      <LoopTimeline />
      <Title>Component</Title>
      <ComponentTimeline />
      <Title>Tailwind Custom Style</Title>
      <TailwindCustomTimeline />
    </div>
  </body>
</html>
