---
import TimelineElement from "./TimelineElement.astro";
---

<ol class="border-l border-gray-300">
  <TimelineElement date="01.07.2021" title="Title of section 1">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque
    diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis
    mollis. Duis sagittis ligula in sodales vehicula.
  </TimelineElement>
  <TimelineElement date="13.09.2021" title="Title of section 2">
    Libero expedita explicabo eius fugiat quia aspernatur autem laudantium error
    architecto recusandae natus sapiente sit nam eaque, consectetur porro
    molestiae ipsam an deleniti.
  </TimelineElement>
  <TimelineElement date="25.11.2021" title="Title of section 3">
    Voluptatibus temporibus esse illum eum aspernatur, fugiat suscipit natus!
    Eum corporis illum nihil officiis tempore. Excepturi illo natus libero sit
    doloremque, laborum molestias rerum pariatur quam ipsam necessitatibus
    incidunt, explicabo.
  </TimelineElement>
</ol>
