---
const data = [
  {
    date: "01.07.2021",
    title: "Title of section 1",
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat facilisis mollis. Duis sagittis ligula in sodales vehicula.",
  },
  {
    date: "13.09.2021",
    title: "Title of section 2",
    body: "Libero expedita explicabo eius fugiat quia aspernatur autem laudantium error architecto recusandae natus sapiente sit nam eaque, consectetur porro molestiae ipsam an deleniti.",
  },
  {
    date: "25.11.2021",
    title: "Title of section 3",
    body: "Voluptatibus temporibus esse illum eum aspernatur, fugiat suscipit natus! Eum corporis illum nihil officiis tempore. Excepturi illo natus libero sit doloremque, laborum molestias rerum pariatur quam ipsam necessitatibus incidunt, explicabo.",
  },
];
---

<ol class="border-l border-gray-300">
  {
    data.map((element) => (
      <li>
        <div class="flex flex-start items-center pt-3">
          <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3" />
          <p class="text-gray-500 text-sm">{element.date}</p>
        </div>
        <div class="mt-0.5 ml-4 mb-6">
          <h4 class="text-gray-800 font-semibold text-xl mb-1.5">
            {element.title}
          </h4>
          <p class="text-gray-500 mb-3">{element.body}</p>
        </div>
      </li>
    ))
  }
</ol>
