---
---

<ol class="border-l border-gray-300">
  <li>
    <div class="flex flex-start items-center pt-3">
      <div class="timeline-disk"></div>
      <p class="timeline-date">01.07.2021</p>
    </div>
    <div class="mt-0.5 ml-4 mb-6">
      <h4 class="timeline-title">Title of section 1</h4>
      <p class="text-gray-500 mb-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas
        placerat facilisis mollis. Duis sagittis ligula in sodales vehicula.
      </p>
    </div>
  </li>
  <li>
    <div class="flex flex-start items-center pt-2">
      <div class="timeline-disk"></div>
      <p class="timeline-date">13.09.2021</p>
    </div>
    <div class="mt-0.5 ml-4 mb-6">
      <h4 class="timeline-title">Title of section 2</h4>
      <p class="text-gray-500 mb-3">
        Libero expedita explicabo eius fugiat quia aspernatur autem laudantium
        error architecto recusandae natus sapiente sit nam eaque, consectetur
        porro molestiae ipsam an deleniti.
      </p>
    </div>
  </li>
  <li>
    <div class="flex flex-start items-center pt-2">
      <div class="timeline-disk"></div>
      <p class="timeline-date">25.11.2021</p>
    </div>
    <div class="mt-0.5 ml-4 pb-5">
      <h4 class="timeline-title">Title of section 3</h4>
      <p class="text-gray-500 mb-3">
        Voluptatibus temporibus esse illum eum aspernatur, fugiat suscipit
        natus! Eum corporis illum nihil officiis tempore. Excepturi illo natus
        libero sit doloremque, laborum molestias rerum pariatur quam ipsam
        necessitatibus incidunt, explicabo.
      </p>
    </div>
  </li>
</ol>
